<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="NetClientIP" value="10.10.100.254" />
    <add key="NetClientPort" value="8899" />-->

    <add key="NetClientIP" value="127.0.0.1" />
    <add key="NetClientPort" value="8899" />
    <add key="Language"  value="Chinese"  />
    
  </appSettings>
</configuration>